.create_main {
    width: 80%;
    margin: auto;
    padding-bottom: 10%;
}

.create_container {
    width: 50%;
    margin: auto;
}

.create_button {
    text-align: center;
}

.mobile_create_main {
    width: 80%;
    margin: auto;
    padding-bottom: 18%;
}