.signin_container {
    width: 60%;
    padding: 5%;
    margin: auto;
    text-align: center;
}

p {
    text-align: left;
}

.horizontal_divider {
    padding: 3% 0%;
    width: 80%;
    margin: auto;
}

.vertical_divider {
    margin: 5%;
}

.chakra-button {
    margin-top: 5%;
}

.panel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3%;
}

.mobile_signin_container {
    width: 90%;
    padding: 5%;
    margin: auto;
    text-align: center;
}

.mobile_horizontal_divider {
    margin-top: 5%;
    margin-bottom: 5%;
}