.card_main {
    text-align: center;
}

.card_container {
    width: 90%;
    margin:  2% auto 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card_left {
    width: 45%;
}

.card_right {
    width: 45%;
}

h1 {
    text-align: center;
}

.chakra-card.css-3p9pj0 {
    margin-bottom: 2%;
}

.match_button {
    margin-top: -5%;
    padding-bottom: 8%;
}

.mobile_card_container {
    width: 85%;
    margin: 3% auto;
}

.card_container_cards {
    width: 45%;
}

.mobile_match_button {
    margin-top: -2%;
    padding-bottom: 22%;
}

p {
    color: rgb(88, 88, 88);
}