.chakra-card.css-3p9pj0 {
    margin-bottom: 2%;
}


.mobile_card_container {
    text-align: center;
    width: 99%;
    margin: 3% auto 0%;
}

.mobile_match_button {
    margin-top: -3%;
    padding-bottom: 25%;
    text-align: center;
}

.tab_panels_title {
    width: 100%;
}

.matches_main {
    width: 90%;
    margin: 2% auto;
    padding-bottom: 10%;
}

.mobile_tab_panels_title {
    display: flex;
    flex: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}
