.search_player_main {
    width: 80%;
    margin: auto;
}

.search_player_title {
    margin: 2% auto 1% auto;
    text-align: center;
}

.search_player_form {
    width: 50%;
    margin: auto auto 2% auto;
}

.search_player_results {
    margin-bottom: 15%;
}

.search_player_results_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2%;
}

.search_player_results_card {
    width: 30%;
    margin-top: 2%;
}