.header {
    background-color: #EDF2F4;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    border-radius: 10px 10px 0px 0px;
}

.header_buttons {
    display: flex;
    gap: 10%;
    margin-left: 15%;
    padding-top: 0.2em;
}

h1 {
    font-size: 2em;
}