.player_infos_footer {
    text-align: center;
    width: 60%;
    margin: auto;
    padding-bottom: 10%;
    justify-content: center;
}

.player_infos_footer_content {
    justify-content: center;
}

.mobile_player_container {
    width: 80%;
    margin: 3% auto;
}

.player_data {
    width: 25%;
}

.mobile_player_follow {
    margin: 3% 0% 5%;
}

.player_infos_footer_content {
    margin: 2% auto;
}

.player_infos_footer {
    margin-bottom: 2%;
}