.container {
    margin-top: 5%;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%
}

.container_article {
    margin-top: 5%
}

.mobile_container {
    margin-top: 5%;
    height: 100%;
    width: 90%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%
}

.mobile_container_article {
    margin-top: 5%
}