.profil_main {
    width: 90%;
    margin: 2% auto;
}

.profil_title {
    margin-bottom: 2%;
}

.profil_container {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.edit_profil_button {
    text-align: center;
}

.mobile_profil_container {
    width: 80%;
    margin: 4% auto;
}

.mobile_profil_container_left {
    margin-bottom: 4%;
}

.mobile_profil_title {
    width: 80%;
    margin: auto auto 3%;
}