.profil_main {
    width: 90%;
    margin: 2% auto;
}

.profil_title {
    margin-bottom: 2%;
}

.profil_container {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.edit_profil_button {
    text-align: center;
}