.player_name {
    text-align: center;
    margin: 2% 0% 2%
}

.player_name h2 {
    font-size: 1.5em;
}

.player_container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1% auto;
}

.player_infos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto auto auto 20%;
}

.player_follow {
    margin-top: 5%;
}

.mobile_player_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
}

.mobile_player_infos {
    width: 80%;
    margin: auto;
  }