.scout_main {
    width: 90%;
    margin: 2% auto;
}

.scout_container {
    width: 90%;
    margin: auto;
    padding-bottom: 10%;
}

.scout_container h3 {
    margin-bottom: 2%;
    font-size: 1.3em;
}

.scout_name {
    margin: 2% auto;
    text-align: center;
}

.scout_name h2 {
    font-size: 1.6em;
}

.card_body_text {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.scout_main_button {
    text-align: center;
}

.chakra-button__group.css-18heqsi {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mobile_scout_container {
    font-size: 1.3em;
    padding-bottom: 20%;
}

.mobile_scout_container h3 {
    margin-top: 3%;
    margin-bottom: 3%;
    text-align: center;
}

.sprofil_container {
    width: 80%;
    margin: 2% auto 2%;
}

.css-1q8b5yy {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.scout_box_divider {
    margin-top: 5%;
}

.scout_box_right {
    margin-top: 2%;
}